.scrollComponent{
    display: flex;
    justify-content: center;
}

.createPostContainer{
    display: flex;
    height: 10svh;
    width: 100%;
    padding-inline: 0.8rem;
    gap: 1.3rem;
    position: relative;
    align-items: center;
    background: rgb(249, 242, 242);
    border-radius: 20px;
}
.uploadButton{
    position: absolute;
    right: 0;
    bottom: -50%;
    background: rgb(4, 4, 139);
    color: white;
    border-radius: 10px;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    cursor: pointer;
}
.createPostContainer > textarea {
    width: 100%;
}
.userProfile {
    border-radius: 100%;
    height: 60%;
    width: fit-content;
}
.Fab {
    background-color: rgb(31, 31, 241);
    border-radius: 100%;
    display: flex;
    justify-content: center;
 
}
.Fab > svg {
    width: fit-content;
    height: 40px;
    color: white;
}

.textArea{
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

.singleCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 90%;
}


.singleCard_profileContainer{
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}

.singleCard_profileContainer>img{
    width: 10%;
    border-radius: 50%;
}

.singleCard__image{
    width: 100%;
    padding-top: 0.6rem;
    height: fit-content;
    overflow: hidden;
}

.singleCard__image > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.optionsContainer{
    display: flex;
    height: 20%;
    width: 100%;
}

.singleOption__optionContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.singleOption__optionContainer > svg {
    height: 100%;
    width: 8%;
}